$bg_color: #F2ECEF
$primary_color: #d70039
$secondary_color: black
$third_color: white
$fourth_color: #990227
body
  background-color: $bg_color
  font:
    family: Verdana, Helvetica, Arial
    size: 14px
  margin: 0

a
  color: blue
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  width: 960px
  margin: 0 auto
  margin-top: 60px
  background: white
  border: solid 1px black

#navbar
  // padding: 5px 10px
  border-bottom: 1px solid $secondary_color
  width: 100%
  background-color: #a8002c
  height: 40px
  position: fixed
  z-index: 100
  top: 0px
  left: 0px

#navbar_content
  margin-left: 240px
  padding-top: 3px
  
#logo 
  float: left

#nav
  padding: 4px 20px
  
  a
    margin: 0 
    display: inline-block
    cursor: pointer
    text-decoration: none
    font-weight: bold
    color: $secondary_color
    padding-right: 15px
    // border-style: solid
    // border-radius: 6px
    // -moz-border-radius: 6px
    // -webkit-border-radius: 6px
    padding: 3px 11px
    // font-size: 14px
    // line-height: 12px
    // border-width: 2px
    // color: $third_color
    // background-color: $primary_color
    // border-color: $secondary_color
    &:hover, &:active
      // background-color: $fourth_color
      color: white
      
    ::-moz-focus-inner 
      border: none
      padding: 0
    focus
      outline: none
    disabled:active
      padding: 2px 8px  
      border-width: 1px
      

    // hover, .tiny-button:focus { text-decoration: none; cursor: pointer; color: #fff; background-color: #85abd9; background: -webkit-gradient(linear, left top, left bottom, from(#aee595), to(#59b82d), color-stop(0.1, #76d34b), color-stop(0.5, #4b9b26), color-stop(0.5, #458f23)); background: -moz-linear-gradient(left top, left bottom, from(#aee595), to(#59b82d), color-stop(0.1, #76d34b), color-stop(0.5, #4b9b26), color-stop(0.5, #458f23)); border-color: #4379b9; }
    // active {  padding: 1px 7px; border-width: 2px; color: #fff; background-color: #4379b9; background: -webkit-gradient(linear, left top, left bottom, from(#a4e288), to(#53ab2a), color-stop(0.1, #6cd03e), color-stop(0.5, #458e23), color-stop(0.5, #3f8220)); background: -moz-linear-gradient(left top, left bottom, from(#a4e288), to(#53ab2a), color-stop(0.1, #6cd03e), color-stop(0.5, #458e23), color-stop(0.5, #3f8220)); }

    margin-right: 10px

#main_content
  padding: 20px 40px
  
#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0
