/* line 6, sass/application.sass */
body {
  background-color: #f2ecef;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

/* line 13, sass/application.sass */
a {
  color: blue;
}
/* line 15, sass/application.sass */
a img {
  border: none;
}

/* line 18, sass/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 23, sass/application.sass */
#container {
  width: 960px;
  margin: 0 auto;
  margin-top: 60px;
  background: white;
  border: solid 1px black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  min-height: 600px;
}

/* line 33, sass/application.sass */
#navbar {
  border-bottom: 1px solid black;
  width: 100%;
  background-color: black;
  height: 40px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
}

/* line 44, sass/application.sass */
#navbar_content {
  position: relative;
  margin: 0 auto;
  padding-top: 3px;
  width: 960px;
}

/* line 50, sass/application.sass */
#logo {
  float: left;
  margin-right: 20px;
}

/* line 54, sass/application.sass */
#nav {
  padding: 4px 20px;
}
/* line 57, sass/application.sass */
#nav a {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #d70039;
  padding-right: 15px;
  padding: 3px 11px;
  margin-right: 10px;
}
/* line 77, sass/application.sass */
#nav a:hover, #nav a:active {
  color: white;
}

/* line 83, sass/application.sass */
#nav_login, #nav_login a {
  float: right;
  font-size: 11px;
  font-weight: none;
  color: #d70039;
}

/* line 89, sass/application.sass */
#nav_login_form {
  float: right;
  background-color: black;
  color: #d70039;
  padding: 10px;
  font-weight: bold;
  font-size: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* line 101, sass/application.sass */
#nav_login_form input {
  display: block;
  margin: 5px 0 10px 0;
}
/* line 105, sass/application.sass */
#nav_login_form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

/* line 109, sass/application.sass */
#main_content {
  padding: 20px 40px;
}
/* line 112, sass/application.sass */
#main_content #member_box {
  margin-top: 20px;
  width: 35%;
  float: right;
  background-color: #ebe9ea;
  padding: 15px;
  border: 1px solid #990227;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}
/* line 123, sass/application.sass */
#main_content #member_box_header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #990227;
  margin-bottom: 20px;
}
/* line 130, sass/application.sass */
#main_content #member_box_form {
  font-size: 18px;
  margin-top: 20px;
}
/* line 134, sass/application.sass */
#main_content #member_box_form input[type="text"], #main_content #member_box_form input[type="password"] {
  display: block;
  margin: 5px 0 15px 0;
  font-size: 20px;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 6px;
}
/* line 143, sass/application.sass */
#main_content #member_box_form input[type="submit"] {
  -webkit-appearance: button;
  width: 60%;
  height: 50px;
  font-size: 20px;
}
/* line 149, sass/application.sass */
#main_content #member_box_form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}
/* line 153, sass/application.sass */
#main_content #member_box_form .sign_in_button {
  text-align: center;
}

/* line 158, sass/application.sass */
#general_form input[type="text"], #general_form input[type="password"], #general_form input[type="email"] {
  display: block;
  margin: 10px 0 20px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 6px;
  width: 230px;
}
/* line 168, sass/application.sass */
#general_form input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

/* line 172, sass/application.sass */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 178, sass/application.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 182, sass/application.sass */
#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 187, sass/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 190, sass/application.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 199, sass/application.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 208, sass/application.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 210, sass/application.sass */
.error_messages ul {
  margin: 0;
}
