/* line 6, sass/application.sass */
body {
  background-color: #f2ecef;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

/* line 13, sass/application.sass */
a {
  color: blue;
}
/* line 15, sass/application.sass */
a img {
  border: none;
}

/* line 18, sass/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 23, sass/application.sass */
#container {
  width: 960px;
  margin: 0 auto;
  margin-top: 60px;
  background: white;
  border: solid 1px black;
}

/* line 30, sass/application.sass */
#navbar {
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #a8002c;
  height: 40px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
}

/* line 41, sass/application.sass */
#navbar_content {
  margin-left: 240px;
  padding-top: 3px;
}

/* line 45, sass/application.sass */
#logo {
  float: left;
}

/* line 48, sass/application.sass */
#nav {
  padding: 4px 20px;
}
/* line 51, sass/application.sass */
#nav a {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-right: 15px;
  padding: 3px 11px;
  margin-right: 10px;
}
/* line 70, sass/application.sass */
#nav a:hover, #nav a:active {
  color: white;
}
/* line 74, sass/application.sass */
#nav a ::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 77, sass/application.sass */
#nav a focus {
  outline: none;
}
/* line 79, sass/application.sass */
#nav a disabled:active {
  padding: 2px 8px;
  border-width: 1px;
}

/* line 89, sass/application.sass */
#main_content {
  padding: 20px 40px;
}

/* line 92, sass/application.sass */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 98, sass/application.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 102, sass/application.sass */
#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 107, sass/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 110, sass/application.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 119, sass/application.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 128, sass/application.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 130, sass/application.sass */
.error_messages ul {
  margin: 0;
}
